
body {
    margin: 0;
}

.form {
    text-align: center;
    margin: 20px;
}

.form button {
    background-color: white;
    color: black;
    padding: 10px;
}

.form i {
    color: #06f9b7;
}

.form button i {
    font-size: 15px;
}

.form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #06f9b7;
    padding: 10px;
}
footer {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #06f9b7;
}

footer i {
    font-size: 25px;
}

footer i:hover {
    color: #06f9b7;